:root {
    --dark-background-color: #19161A;
    --blob-color: #553555;
    --blob-color-2: #C6699B;

    --popup-fill: #755b69;

    /* Text Colors */
    --heading-color: #FFA8D7;
    --text-color: #FFD7EC;

    /* Border Colors */
    --light-border: #B15988;
    --dark-border: #833E63;

    /* Drop Shadows */
    --input-shadow: #FF60AC;
    --outer-shadow: #B95A8D;
    --inner-shadow: #E265E2;

    font-weight: 300;
}

body {
    margin: 0;
}

.underBlob {
    position: fixed;
    width: 60vw;
    height: 50vh;

    bottom: -35vh;

    background: #553555;
    box-shadow: 290px 290px 290px;
    border-radius: 50%; 
    filter: blur(290px);
    clip-path: inset(-100% -100%  35vh -100%);
    object-fit: contain;
}

.background {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    height: 100%;
    
    background-color: var(--dark-background-color);
}